/*@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");*/

* {
  font-family: "Roboto", sans-serif;
  margin: 0; /*margen externo*/
  padding: 0; /*margen interno*/
}

/* header */

.header-container-top {
  background-color: #222222;
  color: #f3f3f3;
  font-size: 14px;
  display: flex; /*pongo los hijos uno al lado del otro*/
  justify-content: space-between; /*manda los hijos para los extremos*/
  align-items: center; /*alinea horizontalmente*/
  padding: 10px;
  padding-right: 100px;
  padding-left: 100px;
}

.header-lista {
  list-style: none;
  display: flex;
  gap: 50px; /*espacio entre los hijos*/
}

.header-container-bottom {
  background-color: #f0a83e;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  padding-right: 50px;
  padding-left: 50px;
}

.logo {
  font-weight: bold;
  color: #ffffff;
  font-size: 50;
  display: flex;
  align-items: center;
}

.logo img {
  height: 20px;
}

.front-logo {
  color: #3c2313;
}

.nav-lista {
  list-style: none;
  color: #ffffff;
  font-size: 18px;
  display: flex;
  gap: 20px;
}

.nav-lista img{
  height: 19px;
}

/* main */
.banner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* flex-direction: column;  */
  /* align-items: flex-end;
  justify-content: center;  */
  background-image: url(../img/bowl-and-pet-daities-on-green-background\ 1.png);
  background-size: cover;
  height: 500px;
  /* gap: 15px; */
}

.banner-mensaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-right: 10px;
}

.bienvenida {
  background-color: white;
  font-size: 40px;
  font-weight: 400;
  padding: 10px;
  border-radius: 5px;
}

.destacado-producto-tipo {
  color: #f3f3f3;
  background-color: #F0A83E;
  padding: 18px;
  border-radius: 5px;
}


